@font-face {
	font-family: "sofia_pro";
	src: url("/fonts/SofiaProRegularAz.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "sofia_pro_bold";
	src: url("/fonts/SofiaProBoldAz.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
