@import "tailwindcss";

@font-face {
	font-family: "sofia_pro";
	src: url("/fonts/SofiaProRegularAz.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "sofia_pro_bold";
	src: url("/fonts/SofiaProBoldAz.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-headerOne: 30px/32px "sofia_pro_bold", Helvetica, Arial, sans-serif;
	--font-headerTwo: 24px/28px "sofia_pro_bold", Helvetica, Arial, sans-serif;
	--font-headerThree: 18px/20px "sofia_pro_bold", Helvetica, Arial, sans-serif;
	--font-copyOne: 16px/24px "sofia_pro", Helvetica, Arial, sans-serif;
	--font-copyTwo: 13px/20px "sofia_pro", Helvetica, Arial, sans-serif;

	font-family: var(--font-copyOne);
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #f9f5ee;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}
