@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import "tailwindcss";
/* 
@theme {
	--font-nunito: "Nunito", sans-serif;
} */

:root {
	line-height: 1.5;
	font-weight: 400;

	background-color: rgba(246, 243, 235, 255);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}
